* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2vw;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
}

.horizontal_slider {
    display: block;
    margin: auto;
    width: 97%;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #eee; */
    background-color: transparent;
}

/* TODO make these props appear when it's mobile screen */
/*this is for chrome / firefox/ opera and safari*/
/* .horizontal_slider::-webkit-scrollbar {
    display: none;
} */

/* for ms*/
/* .horizontal_slider {
    -ms-overflow-style: none;
} */

.slider_container {
    display: block;
    white-space: nowrap;
}

.weatherForecastItems{
    display: inline-block;
    margin-right: 10px;
}


.item {
    background: rgb(42,60,53);
    background: linear-gradient(0deg, rgba(42,60,53,0.865983893557423) 0%, rgba(0,0,0,1) 100%);
    width: 9rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.itemSelected {
    display: inline-block;
    margin-right: 10px;
    background: rgb(42,60,53);
    background: linear-gradient(0deg, rgba(42,60,53,0.865983893557423) 0%, rgba(0,0,0,1) 100%);
    width: 9rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.iconGeneralProps {
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
}

.sunnyIconColors {
    background-color: 0a3d62;
    color: #f5f6fa;
    border-color: transparent;
}

.iconSelectedColors {
    background-color: 0a3d62;
    color: #f5f6fa;
    border-color: transparent;
}



/* .item img {
    width: 100px;
    height: 225px;
    object-fit: cover;
} */