.parentContainer {
  width: 80%;
  display: block;
  margin: auto;
}

@media screen and (max-width:600px) {
  .parentContainer {
    width: 90%;
  }
}

@media screen and (max-width:450px) {
  .parentContainer {
    width: 99%;
  }
}

@media screen and (max-width:450px) {
  .parentContainer {
    width: 100%;
  }
}

.title {
    margin: 35px;
    margin-top: 0;
    font-family: "Urbanist", sans-serif;
    text-align: center;
    /* margin: 10px; */
    padding-top: 15px;
    /* padding-bottom: 15px; */ 
    font-size: 31px;
    color: #f5f6fa;
}

.weatherForecastParentContainer {
  background-color: #000F14;
  /* background: rgb(157, 186, 172);
  background: linear-gradient(
    0deg,
    rgba(157, 186, 172, 0.865983893557423) 0%,
    rgba(54, 59, 56, 1) 100%
  ); */

  padding-bottom: 20px;
}