@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");

.weatherTableCell{
    width: 60%;
    background-color: #2d3436;
}

.weatherTableHeadCell{
    width: 60%;
    background-color: #a4b0be;
}

.detailsTableFont {
    font-family: "Urbanist", sans-serif;
}

.gridVsTableSpacing{
    margin-bottom: 1rem;
}