@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Teko&family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");

/* WEATHER AND CARD GENERIC STYLES*/
/* ================================================================= */

.cardComplement {
  background: rgb(42, 60, 53);
  background: linear-gradient(
    0deg,
    rgba(42, 60, 53, 0.865983893557423) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.weather {
  display: flex;
  background-color: transparent;
}

/* TITLE AND HEADERS*/
/* ================================================================= */

.title {
  font-weight: bold;
  font-size: x-large;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #f5f6fa;
}

.time {
  margin-top: 0;
  font-size: small;
  color: #e77f67;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
}

/* WEATHER SECTIONS*/
/* ================================================================= */

.iconGeneralProps {
  display: block;
  height: 120px;
  width: 120px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .iconGeneralProps {
    height: 80px;
    width: 80px;
  }
}

.iconColors {
  background-color: 0a3d62;
  color: #f5f6fa;
  border-color: transparent;
}

.description {
  text-align: center;
  color: #f5f6fa;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.temperature {
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
  margin: auto;
  margin-top: 35px;
  max-width: 80px;
  color: #f5f6fa;
  font-weight: bold;
  /* flex-grow: 1; */
}

.descriptionRows {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 0;
  /* margin-right: 0%; */
}

.descriptionRows p {
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
}

.airQualityText {
  background-color: #7bed9f;
  width: 99%;
  text-align: center;
}

.gridSections {
  background-color: #ccc;
  width: 99%;
  height: 100%;
  text-align: center;
}

/* FINAL SECTION OR BUTTON*/
/* ================================================================= */

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

/* TRASH*/
/* ================================================================= */

.weatherSections {
  display: flex;
  justify-content: center;
}

.weatherSections p {
  font-family: "Barlow", sans-serif;
  font-size: small;
  font-weight: lighter;
}

.buttonContainer {
  width: 20%;
  margin-left: 82.5%;
}

.iconClass {
  display: block;
  height: 70px;
  width: 70px;
  margin: auto;
  padding-top: 10px;
}

.detailsTable td {
  font-family: "Barlow", sans-serif;
  border: black;
  padding-right: 2rem;
  padding-left: 1rem;
  font-size: small;
}

.detailsTable tr:nth-child(odd) {
  background-color: #ccc;
}

.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.subtitle {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: x-large;
  text-align: center;
}

.detailsTable2 td {
  width: 82px;
}

.weatherSectionsWellSpaced {
  display: flex;
  justify-content: center;
}

.realFeel {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin: auto;
}

.realFeel p {
  font-size: 20px;
  margin-top: 0.5rem;
}

.realFeel h5 {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}
