.searchAndCurrentWeather{
    background: rgb(54,59,56);
background: linear-gradient(0deg, rgba(54,59,56,1) 13%, rgba(157,186,172,1) 100%);
}

@media only screen and (max-width: 1200px) {
    .searchAndCurrentWeather {
        background-size: 1320px 950px;
    }
  }

  @media only screen and (max-width: 640px) {
    .searchAndCurrentWeather {
        background-size: 640px 426px;
    }
  }

  /* @media only screen and (max-width: 400px) {
    .searchAndCurrentWeather {
        background-size: 400px 280px;
    }
  } */